body{
    margin: 0px;
    padding: 0px;
}
#navbar{
    margin: 30px 10%;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.nav-logo span{
    font-size: 28px;
    font-weight: 900;
}
.search-4{
    display: none;
}
.nav-list ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-list ul li{
    font-weight: 400px;
    font-size: 16px;
    opacity: 60%;
}
.nav-list ul .bold{
    font-weight: 800 ;
     
}
.nav-search{
    display: flex;
    gap: 15px;
}
.search-3{
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    background-color: #ABEF5F;
    padding: 10px 20px;
    border-radius: 32px;
 
}
.search-3 span{
    font-size: 20px;
    font-weight: 800;
}
#green{
    background-color: #ABEF5F;
    padding: 10px;
    border-radius: 50%;
}

#black{
    background-color: #cbff9080 ;
    padding: 10px;
    border-radius: 50%;
    color: white;
}
#banner{
    margin: 0px 10%;
}
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 9%;
    
}
.banner-text h1{
    
    text-align: center;
    font-size: 64px;
    margin: 0px;
}
.banner-text p{
    text-align: center;
    margin:20px 10% ;
    
}
#banner-btn {
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    background-color: #ABEF5F;
    padding: 10px 20px;
    border-radius: 32px;
}
#banner-btn span{
    font-weight: 500;
    font-size: 20px;
}
#hero{
    padding: 30px 5%;
    background-color: rgb(239, 236, 236);
    margin: 100px 0px;
} 
.rect{
    display: flex;
}

.about{
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 120px;
    margin-top: 10px;
    gap: 10px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 32px;
     
}
.rect-head h2{
    font-size: 40px;
    width: 60%;
    font-weight: bold;
    padding: 0px;
    margin: 20px 0px;
}
.rect-head  p{
    width: 70%;
    opacity: 60%;
    line-height: 26px;
}
.img-text{
    display: flex;
    flex-direction: column;
     
    gap: 15px;
}
.img-text h3{
    margin: 0px;
    
}

.rect-img-container{
    display: flex;
    align-content: start;
    align-items: center;
    margin-bottom: 15px;
    gap: 30px;
    border-radius: 25px;
    padding: 30px;
    width: 50%;
    box-shadow: 0 0 10px 0px rgb(220, 217, 217);
    margin-top: 15px;
}
.rect-img-container p{
     
    opacity: 60%;
    font-size: 15px;
    line-height: 26px;
}
.img-text p{
    margin: 0px; 
    padding: 0px;
    line-height: 20px;
}
#number-section{
    border-radius: 25px;
    background-color: white;
    margin: 80px 0px;
    padding: 40px 70px;
}
.nmber-container{
    display: flex;
    justify-content: space-between;
}
.number{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number h2{
    margin:10px 0px;
    font-size: 40px;
     
}
.number p{
    opacity: 60%;
    margin: 0px;
    
}
#works{

}
.works-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.works-text{
    width: 30%;
}
.works-text h2{

    margin: 20px;
    font-size: 40px;
    font-weight: bold;
}
.works-text p{
    margin: 0px;
    line-height: 26px;
    opacity: 60%;
     
    
}
#works-btn{
    display: flex;
    gap: 15px;
    background-color: white;
    border-radius: 25px;
    padding: 0px 15px;
    align-items: center;
}
.card-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 10% 100px;
}
.main-card{
    padding: 24px;
    border-radius: 16px;
    width: 190px ;
}
.main-card h3{
    margin: 5px 0px;
}
.main-card p{
    opacity: 60%;
    margin: 10px 0px;
    line-height: 20px;
}
#card-1{
    background-color: #E7C1D3;
}
#card-2{
    background-color: #EFDA6E;
}
#card-3{
    background-color: #A4DAC3;
}
#card-4{
    background-color: #77AAEA;
}
