body{
    margin: 0px;
    padding: 0px;
}
#navbar{
    margin: 30px 10%;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.nav-logo span{
    font-size: 28px;
    font-weight: 900;
}
.search-4{
    display: none;
}
.nav-list ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-list ul li{
    font-weight: 400px;
    font-size: 16px;
    opacity: 60%;
}
.nav-list ul .bold{
    font-weight: 800 ;
     
}
.nav-search{
    display: flex;
    gap: 15px;
}
.search-3{
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    background-color: #ABEF5F;
    padding: 10px 20px;
    border-radius: 32px;
 
}
.search-3 span{
    font-size: 20px;
    font-weight: 800;
}
#green{
    background-color: #ABEF5F;
    padding: 10px;
    border-radius: 50%;
}

#black{
    background-color: #cbff9080 ;
    padding: 10px;
    border-radius: 50%;
    color: white;
}
#banner{
    margin: 0px 10%;
}
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 9%;
    
}
.banner-text h1{
    
    text-align: center;
    font-size: 64px;
    margin: 0px;
}
.banner-text p{
    text-align: center;
    margin:20px 10% ;
    
}
#banner-btn {
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    background-color: #ABEF5F;
    padding: 10px 20px;
    border-radius: 32px;
}
#banner-btn span{
    font-weight: 500;
    font-size: 20px;
}
#hero{
    padding: 30px 5%;
    background-color: rgb(239, 236, 236);
}